@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  font-family: $base-font-family;
}


// h1 { font-size: inherit; margin: inherit; }
// h2 { font-size: inherit; margin: inherit; }
// h3 { font-size: inherit; margin: inherit; }
// h4 { font-size: inherit; margin: inherit; }
// h5 { font-size: inherit; margin: inherit; }
// h6 { font-size: inherit; margin: inherit; }

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

//* Available font families
//font-family:'DINNextW01-CondensedLig';
//font-family:'DINNextW01-CondensedMed';
//font-family:'Memphis LT W01 Light';
//font-family:'FranklinITCW01-CmThin';
//font-family:'Franklin ITC W01 Thin';
//font-family:'MuseoSansW01-Rounded500';

img{
	@include inline-block;
}

html{
	height:100%;
	margin:0;
	padding:0;
}

body {
	background:url(../images/texture-pixels.png) repeat 50% 0 lighten($dark-grey,5%);
	height:100%;
	margin:0;
	padding:0;
	font-size: 13px;
	line-height: 1.231;
}

.beta-badge{
	@include transform(rotate(45deg));
	@include box-shadow(0 0 15px rgba(0,0,0,.6));
	position:fixed;
	top:0;
	right:-50px;
	padding:5px 0;
	width:150px;
	background:url(../images/texture-lines.png) repeat $red;
	z-index:50;

	a{
		font-family:'DINNextW01-CondensedMed';
		color:$light-grey;
		text-decoration:none;
		text-transform:uppercase;
		padding:10px 0 6px;
		border:2px dashed darken($red,15%);
		font-size:20px;
		text-align:center;
		display:block;
		&:hover{
			background:url(../images/texture-lines.png) repeat darken($red,10%);
		}
	}
}

@import "chosen";
@import "popup";

$container-width:600px;
$current-height:120px;
$search-height:60px;

#container {
	// @include transition(all 0.2s ease-in-out);
	max-width:$container-width;
	margin:0 auto;
	min-height:100%;

	&.logged-in{
		background:$dark-grey;
	}
}

header.page-header{
	$size:300px;
	text-indent:-2000px;
	position:fixed;
	top:-3%;
	left:-3%;
	width:$size;
	height:$size;

	&:before{
		@include opacity(0.5);
		color:lighten($dark-grey,10%);
		text-indent:0;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		font-size:$size;
		line-height:$size;
	}
}

@mixin static-element(){
	// @include transition(all 0.2s ease-in-out);
	@include box-sizing(border-box);
	position:fixed;
	left:50%;
	width:100%;
	max-width:$container-width;
	margin:0 0 0 (-$container-width/2);

	@media only screen and (max-width: $container-width) {
		left:0;
		margin:0;
	}
}

#main{
	// @include transition(0.2s ease-in-out);
	// @include transition-property(transform,opacity);
	// @include transition-delay(0.2s);
	background:$dark-grey;
	color:$light-grey;
	padding:$current-height 0 60px;
	position:relative;
	overflow:hidden;
	z-index:10;

	&:empty{
		@include opacity(0);
		@include transform(scale(0.9));
		// @include transition-delay(0s);
	}

	::-webkit-scrollbar {
		height: 15px;
		width: 15px;
		background: $dark-grey;
	}
	::-webkit-scrollbar-thumb {
		background: $light-grey;
		border:5px solid $dark-grey;
		-webkit-border-radius: 15px;
	}
	::-webkit-scrollbar-corner {
		background: $dark-grey;
	}

	.current{
		@include static-element();
		height:$current-height;
		padding:0 20px;
		background:$green;
		top:0;
		z-index:2;
		overflow:hidden;

		.content{
			position:relative;
			z-index:5;
			height:100%;
			padding:0 100px 0 0;
		}
		.cover{
			float: left;
			height:$current-height - 20px;
			width:auto;
			margin:10px 20px 0 0;
		}
		.cover-wrapper a{
			right:auto;
			left:63px;
			bottom:20px;
		}
		h2{
			margin:0;
			padding:20px 0 5px;
			max-height:49px;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		p{
			margin:0;
			max-height:16px;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space: nowrap;

			&.user{
				font-size:11px;
				padding:15px 0 0;
				margin:0 0 1px 0;
				color:#FFF;
				text-transform:uppercase;
				color:$dark-grey;

				+ h2{
					padding-top:0;
					min-width:50%;
				}

				&:before{
					font-size:10px;
				}
			}
		}

		.progress{
			background:url(../images/texture-lines.png) repeat 0 0 darken($green,5%);
			position:absolute;
			left:0;
			top:0;
			width:0;
			height:100%;
		}

		.slider{
			$size:60px;
			// @include transition(all 0.2s ease-in-out);
			@include border-radius(5px);
			@include box-shadow(0 0 2px rgba(0,0,0,.2) inset);
			position:absolute;
			right:120px;
			top:50%;
			margin:-3px 0 0;
			background:rgba(0,0,0,.2);
			height:6px;
			width:0;
			overflow:visible;

			.ui-slider-handle{
				@include icon-font;
				@include border-radius($size);
				// @include transition(margin 0.2s ease-in-out);
				// @include transition-property(margin, background);
				position:absolute;
				left:0;
				top:-$size/2 + 3px;
				display:block;
				margin:0 0 0 (-$size/2);
				background:darken($green,20%);
				line-height:$size*1.1;
				width:$size;
				height:$size;
				text-align:center;
				text-decoration:none;
				color:$light-grey;
				font-size:25px;
				outline:none;
				z-index:5;
				
				&:before{content:"";position:relative;top:-2px;};
				&.half:before{content:""};
				&.low:before{content:""};
				&.empty:before{content:""};
				&.muted:before{content:""};
				&:hover{
					background:darken($green,25%);
				}
			}

			&:before{
				content:" ";
				position:absolute;
				top:-$size/2 + 3px;
				padding:0 ($size/2) 0 0;
				width:100%;
				height:$size;
				right:-$size/2;
				min-width:$size;
			}

			.bg{
				// @include transition(all 0.2s ease-in-out);
				@include border-radius($size);
				@include box-shadow(0 0 10px rgba(0,0,0,.2) inset);
				position:absolute;
				top:-$size/2 + 3px;
				padding:0 0 0 0;
				width:100%;
				height:$size;
				right:-$size/2;
				min-width:$size;
				background:rgba(0,0,0,.1);
			}

			&:hover{
				width:33%;

				.ui-slider-handle{
					margin:0 0 0 (-$size/2);
				}

				.bg{
					padding:0 $size 0 0;
				}
			}
		}

		#skip-track{
			$size:60px;
			@include border-radius($size);
			// @include transition(all 0.2s ease-in-out);
			position:absolute;
			right:20px;
			top:50%;
			width:$size;
			height:$size;
			margin:(-$size/2) 0 0;
			background:darken($green,20%);
			line-height:$size*1.1;
			text-align:center;
			text-decoration:none;
			color:$light-grey;
			font-size:25px;

			&:hover{
				//@include transform(scale(1.2));
				background:darken($green,25%);
			}
		}
	}

	.playlist-wrapper{
		// @include transition(width 0.2s ease-in-out);
		// @include transition-property(width, padding);
		@include box-sizing(border-box);
		@include inline-block;
		vertical-align:top;
		margin:0 0 -4px;
		padding:0;
		list-style:none;
		width:100%;
		position:relative;
		overflow:hidden;

		.channels{
			@include box-sizing(border-box);
			// @include transition(all 0.2s ease-in-out);
			position:absolute;
			top:-$search-height;
			left:0;
			height:$search-height;
			background:darken($blue,10%);
			width:100%;
			padding:15px 20px;
		}

		ul.playlist{
			position:relative;
			list-style:none;
			margin:0;
			padding:0;
		}

		li{
			min-height:70px;
			padding:10px 20px;
			margin:0;
			position:relative;

			&:hover{
				cursor:pointer;
				background:url(../images/texture-lines.png) repeat 0 0 lighten($dark-grey,5%);
			}

			&.dragged-over{
				padding:20px 20px 0;
				&:before{
					@include icon-font;
					$height:25px;
					content:"";
					position:absolute;
					font-size:$height/3*2;
					top:0;
					left:0;
					width:100%;
					height:$height;
					line-height:$height;
					background:$green;
					color:#FFF;
					text-align:center;
				}
				&:after{
					$size:10px;
					content:" ";
					position:absolute;
					bottom:100%;
					left:50%;
					margin:0 0 0 (-$size);
					border:{
						width:$size;
						style:solid;
						color:transparent transparent $green transparent;
					}
				}
			}

			h3{
				margin:10px 0 0;
			}

			p{
				margin:0 0 10px;
			}

			.rating{
				display:block;
			}

			.user{
				$size:60px;
				text-align:right;
				position:absolute;
				right:10px;
				top:50%;
				width:$size;
				height:$size;
				margin:-($size/2) 0 0;

				.icon{
					@include inline-block;
					vertical-align:middle;
					font-size:$size/2;
					line-height:$size + 5px;
					width:$size/2;
					height:$size;
				}

				.hover{
					$height:30px;
					// @include transition(all 0.2s ease-in-out);
					@include opacity(0);
					position:absolute;
					right:$size/4;
					bottom:50%;
					text-transform:uppercase;
					width:200px;
					height:$height;
					margin:-($height/2+3px) 15px 0 0;
					top:50%;

					.content{
						@include inline-block;
						background:$green;
						color:$light-grey;
						height:$height;
						line-height:$height + 2px;
						padding:0 10px 0;
					}

					&:after{
						content:" ";
						position:absolute;
						left:100%;
						top:50%;
						margin:-7px 0 0;
						border:{
							width:7px;
							color:transparent transparent transparent $green;
							style:solid;
						}
					}
				}

				&:hover .hover{
					@include opacity(1);
					right:$size/2;
				}
			}

			&.selected{
				background:url(../images/texture-lines.png) repeat 0 0 $blue;
			}
		}

		.sortable-placeholder{
			@include box-shadow(0 0 10px rgba(0,0,0,.6) inset);
			background:darken($dark-grey,2%);
		}

		.helper{
			padding:0;

			&:hover{
				background:none;
			}

			.primary{
				z-index:10;
			}
		}

		li:first-child{
			display:none;
		}

		li.empty{
			display:block;
			font-size:18px;
			line-height:1.4em;
			padding:30px 20px;
			min-height:0;

			span{
				@include inline-block;
				width:79%;
				margin:0 -4px 0 0;
			}
			&:after{
				@include icon-font;
				@include inline-block;
				content:"";
				font-size:30px;
				width:20%;
				text-align:right;
			}
		}
	}

	.library{
		// @include transition(right 0.2s ease-in-out);
		@include box-sizing(border-box);
		background:$dark-grey;
		padding:$current-height+$search-height 0 0 0;
		position:absolute;
		top:0;
		right:-71%;
		vertical-align:top;
		overflow:hidden;
		height:100%;
		overflow:hidden;
		width:70%;

		form.search{
			@include box-sizing(border-box);
			border-left:1px solid darken($blue,20%);
			position:absolute;
			top:$current-height;
			left:0;
			height:$search-height;
			background:darken($blue,10%);
			width:100%;
			padding:15px 20px;
			text-align:right;
			z-index:5;

			input{
				@include box-sizing(border-box);
				@include inline-block;
				$height:30px;
				height:$height;
				line-height:$height;
				padding:0 10px;
				margin:0 0 0 0;
				border:none;
				color:lighten($dark-grey,40%);
				background:rgba(#FFF,0.9);

				&[type="search"]{
					width:100%;
				}

				&[type="submit"]{
					position:absolute;
					top:15px;
					right:-80px;
					color:$light-grey;
					background:$dark-grey;
					padding-right:10px;
					display:none;

					&:hover{
						background:lighten($dark-grey,10%);
					}
				}

				&:focus{
					outline:none;
					color:$dark-grey;
					background:#FFF;
				}
			}

			.help{
				background:$blue;
				text-align:left;
				display:none;

				h4{
					margin:0;
					padding:0;
					padding:10px 15px 0px;
					text-transform:uppercase;
					background:darken($blue,18%);

				}

				h5{
					color:#CCC;
					margin:0;
					padding:0;
					padding:0px 15px 5px;
					background:darken($blue,18%);
					font-size:10px;
					text-transform:lowercase;
				}

				> ul{
					padding:10px 15px;
					@include column-count(2);
					@include column-gap(20px);

					> li{
						@include inline-block;
						@include box-sizing(border-box);
						margin:10px 0;
						width:100%;
					}

					ul{
						margin:5px 0 0;
						font-family: monospace, serif;

						li{
							color:#333;
						}
					}
				}

				em{
					color:#333;
				}

				pre{
					margin:0;
					padding:5px 0;
					color:#555;
					cursor:pointer;

					&:hover{
						color:#444;
					}

					+ pre{
						margin-top:-5px;
						padding-top:0;
					}

					&:last-child{
						padding-bottom:0;
					}

					&:before{
						content:"Example: ";
						color:#333;
						cursor:default;
					}
				}
			}

			.ui-autocomplete{
				text-align:left;
				background:$green;
				padding:10px 0;
				margin:0 2px 0 0;
				position:relative;

				.help{
					position:absolute;
					top:100%;
					left:0;
					width:100%;
					display:block;
				}

				&:before{
					content:" ";
					position:absolute;
					bottom:100%;
					left:10px;
					border:{
						width:5px;
						color:transparent transparent $green transparent;
						style:solid;
					}
				}
				li{
					a{
						display:block;
						padding:2px 10px 0px;
						color:#FFF;

						&:hover, &.ui-state-hover{
							background:darken($green,20%);
						}
					}
				}
				.ui-autocomplete-category{
					padding:2px 10px 0;
					font-size:14px;
					text-transform:uppercase;
					background:lighten($green,30%);
					color:$green;
					margin:5px 0 0;
				}

				.overflow{
					padding:2px 10px;
					font-size:10px;
					text-transform:lowercase;
					margin:0;
					color:darken($green,10%);
				}
			}
		}

		ul{
			margin:0;
			padding:0;
			list-style:none;
		}

		li{
			margin:0;
			padding:0;
		}

		.songs-wrapper{
			height:100%;
			width:100%;
			overflow:hidden;
			position:relative;

			.too-many{
				@include box-sizing(border-box);
				position:absolute;
				z-index:4;
				top:0;
				left:1px;
				width:97%;
				background:rgba($dark-grey,.8);
				color:$blue;
				padding:5px 0 5px 19px;
				text-transform:uppercase;
				font-size:10px;
			}
		}

		.songs{
			@include box-sizing(border-box);
			background:$dark-grey;
			height:100%;
			overflow:auto;
			padding:0 20px 0;
			border-left:1px dashed lighten($dark-grey,20%);
			position:absolute;
			left:0;
			top:0;
			width:100%;

			>*:last-child{
				margin-bottom:60px;
			}

			li.empty{
				font-size:16px;
				padding:20px 0;
			}

			li.artist{
				font-size:12px;
				padding:10px 0;

				h3{
					clear:both;
					margin:0;
					padding:20px 0 0;
					font-size:24px;
				}
			}
		}

		.album{
			margin:15px 0;
			$cover-width:20%;
			clear:left;

			img.cover{
				float:left;
				margin:0 0 15px 0;
				max-width:$cover-width;
			}

			h4{
				color:$blue;
				border-bottom:1px dashed darken($blue,30%);
				font-size:13px;
				margin:0 0 5px $cover-width+3%;
			}

			.tracks{
				margin:0 0 0 $cover-width+3%;

				ul{
					//@include experimental(column-count,2);
				}

				li{
					padding:2px 0 1px;
					cursor:pointer;

					&:hover{
						background:url(../images/texture-lines.png) repeat 0 0 lighten($dark-grey,5%);
					}
					&.selected{
						background:url(../images/texture-lines.png) repeat 0 0 $blue;
						padding: 2px 5px 1px;
						margin:0 -5px;
					}
				}
			}

			.track{
				@include inline-block;
				width:5%;
				color:darken($light-grey,20%);
			}
			.title{
				@include inline-block;
				width:69%;
			}
			.rating{
				@include inline-block;
				width:15%;
				font-size:10px;
			}
			.playtime{
				@include inline-block;
				width:10%;
				text-align:right;
			}
		}

		// Simplified library for longer lists
		.songs.simplified{
			padding:20px;
			
			.artist{
				display:inline;

				>h3{
					display:none;
				}

				>ul{
					display:inline;
				}
			}

			.album{
				@include inline-block;
				@include box-sizing(border-box);
				vertical-align:top;
				width:25%;
				position:relative;
				margin:0 -4px 0 0;
				// border:0px solid $green;
				background:$dark-grey;
				overflow:hidden;
				cursor:pointer;



				@media only screen and (min-width: 900px) {
					width:16.6666%;
				}
				@media only screen and (max-width: 500px) {
					width:50%;
				}

				&:hover{
					//@include transform(scale(1.2));
					// z-index:100;
					// border:5px solid $green;
					@include transition-delay(0.1s);

					>h3{
						top:0;
					}
					>h4{
						bottom:0;
					}

					.cover-wrapper a{
						@include transition-delay(0.1s);
						right:10px;
						bottom:30px;
					}
				}

				>h3{
					@include box-sizing(border-box);
					// @include transition(all 0.2s ease-in-out);
					@include transition-delay(0.1s);
					position:absolute;
					top:-22px;
					left:0;
					width:100%;
					background:url(../images/texture-lines.png) repeat 0 0 $green;
					color:$light-grey;
					border:none;
					margin:0;
					padding:5px;
					font-size:12px;
					line-height:12px;
					height:22px;
					overflow:hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
				}

				>h4{
					@include box-sizing(border-box);
					// @include transition(all 0.2s ease-in-out);
					@include transition-delay(0.1s);
					position:absolute;
					bottom:-20px;
					left:0;
					width:100%;
					background:url(../images/texture-lines.png) repeat 0 0 $dark-grey;
					color:$light-grey;
					border:none;
					margin:0;
					padding:5px;
					font-size:10px;
					line-height:10px;
					height:20px;
					overflow:hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
				}

				img.cover{
					float:none;
					width:100%;
					max-width:100%;
					margin:0;
				}
			}

			#current-detail{
				// @include transition(none);
				background:url(../images/texture-lines.png) repeat 0 0 $dark-grey;
				margin:0 1.5% 0 1%;
				padding:20px 15px;
				width:auto;
				display:block;
				cursor:default;

				&:hover{
					border:none;
				}
				>h4{
					// @include transition(none);
					background:none;
					position:relative;
					bottom:0;
					font-size:20px;
					height:30px;
					line-height:30px;
					padding:0;
					margin: 0 0 10px;
					border-bottom:1px dashed darken($light-grey,50%);
				}
				.tracks{
					margin:0;
				}
			}
		}

		.log{
			@include box-sizing(border-box);
			height:100%;
			width:100%;
			overflow:hidden;
			position:absolute;
			top:0;
			left:0;
			padding:$current-height+$search-height 0 0;
			border-left:1px dashed lighten($dark-grey,20%);
			background:$dark-grey;

			.content{
				@include box-sizing(border-box);
				height:100%;
				width:100%;
				overflow:auto;
				padding:20px 20px 60px;
			}

			h2{
				font-size:16px;
				border-bottom:1px solid $light-grey;
				margin:0 0 10px;
				padding:0 0 3px;
			}

			h5{
				color:darken($light-grey,20%);
				margin:0;
				font-size:10px;
			}

			p{
				margin:0 0 5px;
			}

			.users{
				margin: 0 0 20px;

				ul{
					@include experimental(column-count,4);
				}

				p{
					color:darken($light-grey,20%);
				}
			}

			.logs.local{
				margin: 0 0 20px;
			}

			a.reload{
				@include border-radius(1px);
				cursor:pointer;
				float:right;
				font-size:12px;
				text-transform:lowercase;
				background:lighten($dark-grey,8%);
				padding:5px 10px 3px;
				position:relative;
				top:-5px;

				&:before{
					margin:0 4px 0 0;
				}

				&:hover{
					background:$green;
				}
			}
		}
	}

	#album-detail{
		display:none;
	}

	.stars{
		@include inline-block;
		@include icon-font;
		color:darken($light-grey,40%);
		color:rgba(255,255,255,.2);

		.star{

			.content{
				float:left;
				position:relative;
				cursor:pointer;
				padding:0 2px 0 0;

				&:before{
					position:absolute;
					left:0;
					top:0;
				}
			}

			&:hover > .content:before{
				content:"";
				color:$light-grey;
				color:rgba(255,255,255,.9) !important;
			}
		}
			
		@for $rating from 0 through 5 {
			&.rated-#{$rating}{
				@for $star from 0 through $rating {
					.star-#{$star}>.content:before{
						color:darken($light-grey,20%);
						color:rgba(255,255,255,.5);
						content:"";
					}
				}
			}
		}
	}

	.actions{
		@include static-element();
		text-align:right;
		bottom:60px;
		height:0;
		z-index:2;
		overflow:visible;

		a{
			@include inline-block;
			text-transform:uppercase;
			font-size:17px;
			padding:15px 20px 10px;
			background:darken($dark-grey,5%);
			text-decoration:none;
			color:darken($light-grey,10%);
			position:relative;
			width:95px;
			height:25px;
			line-height:25px;
			float:right;

			&:hover{
				background:$green;
				color:$light-grey;
			}

			&.upload{
				margin:0 0 0 -10px;
				&:before{
					margin:0 10px 0 0;
				}
				&:after{
					position:absolute;
					left:0;
					bottom:100%;
					content:" ";
					border:{
						style:solid;
						color:transparent darken($green,20%) darken($green,20%) transparent;
						width:5px;
					}
				}
			}
			&.toggle{
				margin:0 -10px 0 0;
				&:before{
					margin:1px 0 0 10px;
					float:right;
				}
				&:after{
					position:absolute;
					right:0;
					bottom:100%;
					content:" ";
					border:{
						style:solid;
						color:transparent transparent darken($green,20%) darken($green,20%);
						width:5px;
					}
				}
			}
		}

		.upload{
			float:left;
		}
	}

	.cover{
		// @include transition(all 0.2s ease-in-out);
		@include box-sizing(border-box);

		&.dragged-over{
			border:4px solid $blue;
		}
	}
}

.uploads{
	@include box-sizing(border-box);
	// @include transition(all 0.2s ease-in-out);
	@include box-sizing(border-box);
	$upload-width:$container-width - 250px;
	$upload-height:50px;
	position:fixed;
	left:50%;
	width:100%;
	max-width:$upload-width;
	margin:0 0 0 (-$upload-width/2);
	bottom:10px + $upload-height;
	height:0;
	padding:0;
	overflow:visible;

	@media only screen and (max-width: $container-width) {
		left:0;
		margin:0;
	}

	.total-progress{
		// @include transition(all 0.2s ease-in-out);
		position:absolute;
		display:block;
		background:$blue;
		margin:0 0 -50px 0;
		z-index:2;
		width:0;
		height:$upload-height;
		top:0;
		left:0;

		.percentage{
			@include opacity(0);
			// @include transition(all 0.2s ease-in-out);
			position:absolute;
			bottom:70%;
			left:100%;
			width:40px;
			margin:0 0 5px -20px;
			text-align:center;
		}

		&.in-progress .percentage{
			@include opacity(1);
			bottom: 100%;
		}
	}

	.files{
		@include opacity(0.4);
		height:0;
		width:100%;
		list-style:none;
		margin:0;
		padding:0;
		position:absolute;
		top:0;
		left:0;
		overflow:visible;
		z-index:3;

		li{
			@include inline-block;
			@include box-sizing(border-box);
			border-right:1px solid $dark-grey;
			height:$upload-height;
		}
	}
}

#container.library-open{
	$container-width:1800px;
	max-width:$container-width;
	height:100%;

	#main{
		@include box-sizing(border-box);
		height:100%;
		padding-bottom:0;
		.current, .actions{
			max-width:$container-width;
			margin-left:-$container-width/2;

			@media only screen and (max-width: $container-width) {
				// @include transition(none);
				left:0;
				margin:0;
			}
		}
		.uploads{
			$upload-width:$container-width - 250px;
			max-width:$upload-width;
			margin-left:-$upload-width/2;

			@media only screen and (max-width: $container-width) {
				// @include transition(none);
				left:0;
				margin:0;
			}
		}

		.playlist-wrapper{
			padding:$search-height 0 0;
			width:30%;
			height:100%;

			.channels{
				top:0;
				select{
					@include box-sizing(border-box);
					width:100%;
					height:15px;
					line-height:15px;
				}
				abbr{
					top:10px;
				}
				b{
					background-position:0 5px;
				}
				
				.chzn-single, .chzn-single-with-drop{
					height:30px;
					line-height:30px;
				}
				.chzn-single, .chzn-single-with-drop, .chzn-drop{
					@include border-radius(0);
					border:none;
				}

				.chzn-container,.chzn-drop, input{
					@include box-sizing(border-box);
					max-width:100%;
					color:$dark-grey;
				}

				li{
					min-height:0;
					background:none;
					padding:6px 5px;
					margin:0;
					line-height:24px;
					&:first-child{
						display:block;
					}
					&.result-selected{
						background:$light-grey;
						color:$dark-grey;
					}
					&.highlighted{
						background:$blue;
						color:$dark-grey;
					}
					&.active-result:hover{
						color:$light-grey;
						background:$blue;
					}
				}

				#add-new{
					float:right;
					border:none;
					background:$green;
					color:$light-grey;
					padding:5px 10px 3px;
					&:hover{
						background:darken($green,10%);
					}
				}
			}
			
			.playlist{
				height:100%;
				overflow:auto;
				>*:last-child{
					margin-bottom:60px;
				}
			}
		}

		.library{
			right:0;
		}
	}
}

.drag-helper{
	z-index:50;
	background:$light-grey;
	color:$dark-grey;
	font-size:14px;
	padding:5px 10px;
}


@include keyframes(jammin) {
	0% {
		@include transform(scale(1));
		-webkit-animation-timing-function: ease-out;
	}
	70% {
		@include transform(scale(1.05));
		-webkit-animation-timing-function: ease-in-out;
	}
	100% {
		@include transform(scale(1));
		-webkit-animation-timing-function: ease-in-out;
	} 
}

#login{
	$width:200px;
	$height:320px;
	@include box-sizing(border-box);
	// @include transition(all 0.2s ease-in-out);
	// @include transition-delay(0.1s);
	background:url(../images/texture-lines.png) $green;
	position:absolute;
	left:50%;
	top:50%;
	width:$width;
	height:$height;
	margin:(-$height/2) 0 0 (-$width/2);
	padding:20px;
	text-align:center;

	&:empty{
		@include opacity(0);
		@include transform(scale(0.9));
		// @include transition-delay(0s);
	}

	.icon{
		background:url(../images/icon.png) no-repeat 50% 50%;
		$image:"../images/icon.png";
		$size:image-width($image);
		display:block;
		width:$size;
		height:$size;
		margin:0 0 10px 0;
		line-height:$size;
		z-index:20;
		text-align:center;
		color:$dark-grey;
		span{
			@include animation(jammin 1s linear infinite);
			display:block;
		}
	}

	h2{
		font-family:'DINNextW01-CondensedMed';
		text-transform:uppercase;
		letter-spacing:5px;
		font-size:27px;
		margin:0 0 1px 2px;
		line-height:1em;
		padding:0;
		position:absolute;
		bottom:100%;
		left:0;
		width:100%;
		color:#FFF;
	}

	input[type="text"], input[type="password"]{
		@include box-sizing(border-box);
		border:none;
		background:darken($light-grey,10%);
		color:lighten($dark-grey,10%);
		margin:5px 0;
		height:30px;
		line-height:30px;
		width:100%;
		padding:0 10px;

		&:focus{
			background:$light-grey;
			color:$dark-grey;
			outline:none;
		}
	}

	input[type="submit"]{
		border:none;
		background:darken($green,20%);
		color:#FFF;
		text-transform:uppercase;
		height:30px;
		line-height:30px;
		width:100%;
		margin:5px 0 0;

		&:hover, &:focus{
			background:darken($green,30%);
		}
	}
}

@include keyframes(rotate) {
	0% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(360deg));
	} 
}

.loading{
	$size:40px;
	@include icon-font;
	@include border-radius($size);
	// @include transition(all 0.15s ease-in-out);
	position:fixed;
	bottom:10px;
	left:50%;
	width:$size;
	height:$size;
	margin:0 0 0 (-$size/2);
	z-index:20;
	background:$red;
	color:$light-grey;
	font-size:$size*.8;
	text-align:center;

	&:empty{
		@include opacity(0);
		@include transform(scale(0.9));
		// @include transition(all 0.5s ease-in-out);
	}

	span.icon{
		@include animation(rotate 1.7s linear infinite);
		display:block;
		position:relative;
		line-height:$size + 0.2;
	}

	.messages{
		position:absolute;
		bottom:100%;
		left:50%;
		width:$container-width / 4;
		margin:0 0 13px (-$container-width / 8);
		text-align:center;

		&:empty{
			display:none;
		}

		&:after{
			content:" ";
			position:absolute;
			top:100%;
			left:50%;
			margin:-1px 0 0 -8px;
			border:{
				width:8px;
				color:$green transparent transparent transparent;
				style:solid;
			}
		}

		ul{
			@include inline-block;
			margin:0;
			padding:0;
			list-style:none;
		}

		li{
			margin:1px 0 0;
			padding:5px 15px 8px;
			font-size:14px;
			line-height:1.3em;
			background:$green;
			color:$light-grey;
			//text-transform:lowercase;
		}
	}
}

.status{
	@extend .loading;

	span.icon{
		@include animation(none);
		font-size:17px;
	}

	li span{
		@include inline-block;
		max-width:70%;
		text-align:left;
	}

	.message-icon{
		$size:30px;
		@include icon-font;
		@include border-radius($size);
		position:relative;
		top:1px;
		text-align:center;
		width:$size;
		height:$size;
		line-height:$size;
		background:$light-grey;
		color:$green;
		margin:0 5px 0 0;
	}
}

.cover-wrapper{
	vertical-align:bottom;
	a{
		@include icon-font;
		@include border-radius(5px);
		@include opacity(0.5);
		// @include transition(all 0.2s ease-in-out);
		vertical-align:bottom;
		position:absolute;
		background:$green;
		color:$light-grey;
		padding:5px 7px;
		bottom:10px;
		right:10px;

		&:hover{
			@include opacity(1);
		}

		&:empty{
			@include opacity(0);
			padding:0;
		}
	}
}

