// This file must be imported before loading html5-boilerplate

// base
$base-font-family: unquote("MuseoSansW01-Rounded500"), unquote("sans-serif");
$font-color: #222;

$dark-grey:#262626;
$light-grey:#EAE9E2;
$green: #0dc76f;
$red: #E5012D;
$blue: #519ADF;
$purple: #934499;

// Links
$link-color: #E5012D;
$link-visited-color: #E5012D;
$link-hover-color: darken($link-color,10%);

// Lists
$list-left-margin: 40px;

// Selected
$selected-background-color: #000;
$selected-font-color: #FFF;

$browser-context: 24px; // Default font size
$base-line-height: 1.231;