html{
	@include MuseoSans;
	background:url(/images/texture-lines.png) 50% 0 $dark-grey;
	min-height:100%;
	color:#EEE;
	margin:0;
	padding:0;
	line-height:$base-line-height;
}

body{
	margin:0;
	padding:0;
}